/* Global css start */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

li:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1550px;
}

/* Global css end */
.banner {
  background-image: url("../images/home2/kalen-emsley-uSFOwYo1qEw-unsplash.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 376px;
}
.banner .banner_text h1 {
  font-size: 36px;
  color: white;
  line-height: 48px;
}
.banner .banner_text h1 span {
  font-size: 72px;
  font-weight: bold;
  color: #00a2ca;
  display: block;
  line-height: 95px;
}
.banner .banner_text p {
  font-size: 36px;
  color: white;
  line-height: 48px;
}
.banner .banner_button {
  padding-bottom: 370px;
  padding-top: 22px;
}
.banner .banner_button button {
  width: 254px;
  height: 72px;
  background-color: #00a2ca;
  color: white;
  font-size: 37.5px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 51px;
}
.banner .banner_button button:hover {
  background-color: white;
  color: #00a2ca;
}

.destination {
  background-color: black;
  padding-top: 44px;
}
.destination .top_text {
  text-align: center;
  padding-bottom: 79px;
}
.destination .top_text h2 {
  color: white;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  padding-bottom: 5px;
}
.destination .top_text p {
  font-size: 18px;
  line-height: 24px;
  color: white;
}
.destination .mid .place .place_img {
  position: relative;
}
.destination .mid .place .inner_div {
  width: 373px;
  background-color: #ffffff;
  opacity: 0.8;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 35px;
  border-radius: 16px;
  color: black;
  padding: 30px 20px;
}
.destination .mid .place .inner_div h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.destination .mid .place .inner_div h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
}
.destination .mid .place .inner_div p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 35px;
}
.destination .destination_btn {
  padding-bottom: 63px;
  padding-top: 94px;
  text-align: center;
}
.destination .destination_btn button {
  background-color: #00a2ca;
  width: 390px;
  font-size: 36px;
  padding: 13px 0;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 11px;
}
.destination .destination_btn button:hover {
  background-color: white;
  color: #00a2ca;
}

.packages {
  background-color: #ffffff;
  padding-top: 36px;
}
.packages .top_text {
  text-align: center;
  color: black;
}
.packages .top_text h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
}
.packages .top_text p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 42px;
}
.packages .main_bottom {
  width: 100%;
  display: flex;
  padding-bottom: 56px;
}
.packages .main_bottom .left {
  width: 35%;
}
.packages .main_bottom .left .left_img img {
  min-height: 448px;
}
.packages .main_bottom .mid {
  width: 50%;
  background-color: #d1d1d1;
  padding: 41px 46px;
}
.packages .main_bottom .mid h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
}
.packages .main_bottom .mid P {
  font-size: 18px;
  line-height: 24px;
}
.packages .main_bottom .mid .mid_button {
  margin-top: 35px;
  display: flex;
  background-color: #ffffff;
  max-width: 343px;
  border-radius: 35px;
  padding: 10px 32px;
}
.packages .main_bottom .mid .mid_button .icon1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 12px;
  border-right: 2px solid #707070;
}
.packages .main_bottom .mid .mid_button .icon1 .icon_img {
  padding-right: 7px;
  padding-left: 15px;
  width: 100%;
}
.packages .main_bottom .mid .mid_button .icon1 .icon_img p {
  padding-right: 15px;
  font-size: 18px;
  font-weight: bold;
}
.packages .main_bottom .mid .mid_button .icon1:last-child {
  border-right: unset;
}
.packages .main_bottom .right {
  width: 25%;
  background-color: #00a2ca;
  border-top-right-radius: 54px;
  border-bottom-right-radius: 54px;
  padding: 100px 65px;
  color: white;
}
.packages .main_bottom .right .price_sec span img {
  max-width: 119px;
}
.packages .main_bottom .right .price_sec p {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 21px;
}
.packages .main_bottom .right .price_sec h4 {
  font-size: 72px;
  font-weight: bold;
}
.packages .main_bottom .right .price_sec button {
  background-color: white;
  color: black;
  width: 152px;
  border-radius: 9px;
  padding: 6px 27px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
}

.flights {
  background-color: black;
  padding-top: 44px;
}
.flights .top_text {
  text-align: center;
  padding-bottom: 79px;
}
.flights .top_text h3 {
  color: white;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  padding-bottom: 24px;
}
.flights .top_text p {
  font-size: 18px;
  line-height: 24px;
  color: white;
}
.flights .mid .place .place_img {
  position: relative;
}
.flights .mid .place .inner_div {
  width: 373px;
  background-color: #ffffff;
  opacity: 0.8;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 35px;
  border-radius: 16px;
  color: black;
  padding: 30px 20px;
}
.flights .mid .place .inner_div h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.flights .mid .place .inner_div h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
}
.flights .mid .place .inner_div p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 35px;
}
.flights .destination_btn {
  padding-bottom: 63px;
  padding-top: 94px;
  text-align: center;
}
.flights .destination_btn button {
  background-color: #00a2ca;
  width: 282px;
  padding: 7px 0;
  font-size: 36px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 11px;
}
.flights .destination_btn button:hover {
  background-color: white;
  color: #00a2ca;
}

.travelers {
  margin-bottom: 73px;
}
.travelers h3 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  padding-top: 51px;
  padding-bottom: 91px;
}
.travelers .left {
  width: 100%;
  max-width: 548px;
}
.travelers .left .left_img {
  max-width: 536px;
  margin: 0 auto;
}
.travelers .left .left_img img {
  width: 100%;
  min-height: 311px;
}
.travelers .left .left_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.travelers .left .left_bottom .img_one {
  max-width: 253px;
  margin-right: 30px;
}
.travelers .left .left_bottom .img_one img {
  min-height: 323px;
  width: 100%;
}
.travelers .left .left_bottom .img_two {
  max-width: 253px;
}
.travelers .left .left_bottom .img_two img {
  width: 100%;
  min-height: 323px;
}
.travelers .mid_img {
  max-width: 383px;
  margin: 0 auto;
}
.travelers .mid_img img {
  width: 100%;
  min-height: 654px;
}
.travelers .right_img {
  margin: 0 auto;
}
.travelers .right_img .img_three {
  max-width: 481px;
  margin-bottom: 8px;
}
.travelers .right_img .img_three img {
  width: 100%;
  min-height: 323px;
}
.travelers .right_img .img_four {
  max-width: 481px;
  margin: 0 auto;
}
.travelers .right_img .img_four img {
  width: 100%;
  min-height: 323px;
}

.booking {
  background-image: url("../images/home2/paul-gilmore-km74CLco7qs-unsplash.png");
  background-size: cover;
  background-position: center;
  padding-top: 128px;
  text-align: center;
}
.booking .booking_text h3 {
  font-size: 72px;
  font-weight: bold;
  line-height: 95px;
  color: white;
}
.booking .booking_text span {
  display: block;
}
.booking .booking_text p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 36px;
  color: white;
}
.booking .booking_btn {
  padding-top: 36px;
  padding-bottom: 104px;
}
.booking .booking_btn button {
  background-color: #00a2ca;
  width: 254px;
  font-size: 37px;
  font-weight: bold;
  color: white;
  padding: 12px 0;
  margin-right: 32px;
  border: none;
  outline: none;
  line-height: 49px;
}

.paragraph {
  padding-top: 40px;
}
.paragraph h3 {
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
}
.paragraph p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 73px;
}

@media (max-width: 1460px) {
  .travelers .images_section {
    flex-wrap: wrap;
    justify-content: center;
  }

  .travelers .images_section .left {
    width: 48%;
    max-width: unset;
    margin-right: 15px;
  }

  .travelers .images_section .left .left_img {
    max-width: 679px;
    min-height: 339px;
  }

  .travelers .images_section .left .left_img img {
    max-width: 679px;
    min-height: 339px;
  }

  .travelers .images_section .left .left_bottom {
    max-width: 343px;
    min-height: 427px;
  }

  .travelers .images_section .left .left_bottom img {
    max-width: 346px;
    min-height: 422px;
  }

  .travelers .images_section .left .left_bottom .one {
    max-width: 346px;
    min-height: 422px;
  }

  .travelers .images_section .mid_img {
    width: 50%;
    max-width: 500px;
    min-height: 654px;
  }

  .travelers .images_section .mid_img img {
    min-height: 842px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .travelers .images_section .right_img {
    display: flex;
    width: 100%;
    max-width: unset;
    margin-top: 15px;
    max-width: 1211px;
  }

  .travelers .images_section .right_img .two {
    padding-bottom: unset;
    margin-right: 15px;
    max-width: 705px;
    min-height: 473px;
  }
}
@media (max-width: 1300px) {
  .destination .mid .place .inner_div {
    width: 280px;
    left: 25px;
  }
}
@media (max-width: 1200px) {
  .packages .main_bottom {
    flex-wrap: wrap;
  }

  .packages .main_bottom .mid {
    width: 100%;
    order: 1;
    margin-top: 30px;
    border-radius: 54px;
  }

  .packages .main_bottom .left {
    width: 48%;
    margin-right: 15px;
  }

  .packages .main_bottom .right {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .place {
    margin-bottom: 15px;
  }

  .destination .mid .place .inner_div {
    width: 394px;
  }

  .flights .mid .place .inner_div {
    width: 394px;
  }

  .travelers .left {
    margin: 0 auto;
  }

  .travelers .mid_img {
    margin: 15px auto;
  }

  .travelers .right_img .img_three {
    margin: 0 auto;
  }

  .travelers .right_img .img_four {
    margin: 15px auto;
  }
}
@media (max-width: 768px) {
  .banner .banner_button button {
    margin-bottom: 15px;
  }

  .packages .main_bottom .left {
    width: 100%;
  }

  .packages .main_bottom .right {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .destination .mid .place .inner_div {
    width: 265px;
  }

  .flights .mid .place .inner_div {
    width: 265px;
  }
}/*# sourceMappingURL=home2.css.map */